<appSettings>
  <add key ="username" value="WrayTesting"/>
  <add key="password" value="dpdarvtirjniyltu"/>
  <add key="emailto" value="wraytesting@gmail.com"/>
  <add key="emailfrom" value="wraytesting@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
  <add key="LegalText" value="The text included in the body of this email was user generated and therefore may contain undesirable language." />
</appSettings>